<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ListingLocation.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D2911916500DB2FABAD0545AF7B227A383334DE7</string>
				<key>dateExpires</key>
				<string>31/05/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2911916500DB2FABAD0545AF7B227A383334DE7</string>
						<key>dateExpires</key>
						<string>31/05/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QV328RZ9KL</string>
						<key>name</key>
						<string>WikiBeach Real Estate LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2911916500DB2FABAD0545AF7B227A383334DE7</string>
						<key>dateExpires</key>
						<string>31/05/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QV328RZ9KL</string>
						<key>name</key>
						<string>WikiBeach Real Estate LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2911916500DB2FABAD0545AF7B227A383334DE7</string>
						<key>dateExpires</key>
						<string>31/05/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire_SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QV328RZ9KL</string>
						<key>name</key>
						<string>WikiBeach Real Estate LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2911916500DB2FABAD0545AF7B227A383334DE7</string>
						<key>dateExpires</key>
						<string>31/05/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QV328RZ9KL</string>
						<key>name</key>
						<string>WikiBeach Real Estate LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2911916500DB2FABAD0545AF7B227A383334DE7</string>
						<key>dateExpires</key>
						<string>31/05/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QV328RZ9KL</string>
						<key>name</key>
						<string>WikiBeach Real Estate LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2911916500DB2FABAD0545AF7B227A383334DE7</string>
						<key>dateExpires</key>
						<string>31/05/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ReachabilitySwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QV328RZ9KL</string>
						<key>name</key>
						<string>WikiBeach Real Estate LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2911916500DB2FABAD0545AF7B227A383334DE7</string>
						<key>dateExpires</key>
						<string>31/05/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QV328RZ9KL</string>
						<key>name</key>
						<string>WikiBeach Real Estate LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2911916500DB2FABAD0545AF7B227A383334DE7</string>
						<key>dateExpires</key>
						<string>31/05/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QV328RZ9KL</string>
						<key>name</key>
						<string>WikiBeach Real Estate LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2911916500DB2FABAD0545AF7B227A383334DE7</string>
						<key>dateExpires</key>
						<string>31/05/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QV328RZ9KL</string>
						<key>name</key>
						<string>WikiBeach Real Estate LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2911916500DB2FABAD0545AF7B227A383334DE7</string>
						<key>dateExpires</key>
						<string>31/05/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QV328RZ9KL</string>
						<key>name</key>
						<string>WikiBeach Real Estate LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QV328RZ9KL.com.apps.listinglocation</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QV328RZ9KL</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>QV328RZ9KL.com.apps.listinglocation</string>
				</array>
			</dict>
			<key>name</key>
			<string>ListingLocation.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a44b3cfb-d85d-4850-be5d-814a15cca37f</string>
				<key>name</key>
				<string>ListingLocation_Dev_Prov</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QV328RZ9KL</string>
				<key>name</key>
				<string>WikiBeach Real Estate LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
